* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
   
  }
  .container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 900px;
  }
  @font-face {
    font-family: "quote";
    src: url(asset/NiceSugar.ttf);
  }

  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }

  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #66bfbf;
    /* overflow: hidden; */
  }
  .background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
  }

  .background li:nth-child(0) {
    left: 58%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 1s;
  }
  .background li:nth-child(1) {
    left: 46%;
    width: 190px;
    height: 190px;
    bottom: -190px;
    animation-delay: 5s;
  }
  .background li:nth-child(2) {
    left: 15%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 5s;
  }
  .background li:nth-child(3) {
    left: 21%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 14s;
  }
  .background li:nth-child(4) {
    left: 63%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 16s;
  }
  .background li:nth-child(5) {
    left: 46%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 23s;
  }
  .background li:nth-child(6) {
    left: 69%;
    width: 192px;
    height: 192px;
    bottom: -192px;
    animation-delay: 28s;
  }
  .background li:nth-child(7) {
    left: 71%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 8s;
  }
  .background li:nth-child(8) {
    left: 84%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 10s;
  }
  .background li:nth-child(9) {
    left: 30%;
    width: 141px;
    height: 141px;
    bottom: -141px;
    animation-delay: 42s;
  }
  .content {
        animation-iteration-count: infinite;
        animation: move 4s ease-in-out infinite alternate;
        z-index: 99;
        background: rgba(234, 246, 246, 0.15);
        box-shadow: 4.4px 4.3px 2.2px rgba(0, 0, 0, 0.02),
        9.2px 9px 5.3px rgba(0, 0, 0, 0.028),
        15.1px 14.7px 10px rgba(0, 0, 0, 0.035),
        23.5px 23px 17.9px rgba(0, 0, 0, 0.042),
        38.7px 37.8px 33.4px rgba(0, 0, 0, 0.05),
        83px 81px 80px rgba(0, 0, 0, 0.07);
        backdrop-filter: blur(10.5px);
        -webkit-backdrop-filter: blur(10.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.10  );
    
    margin: 400px auto;
    width: 650px;
    height: 150px;
    border-radius: 36% 64% 50% 50% / 36% 31% 69% 64%;
    
  }
  @keyframes move {
    0% {
      transform: translatex(0);
    }
    50% {
      transform: translatex(-40px);
    }
    100% {
      transform: translate(40px);
    }
  }
  .content .teks {
    quotes: "'" "'";
    font-family: quote;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
  }
  .content .teks::before {
    content: open-quote;
  }

  .content .teks::after {
    content: close-quote;
  }
  .footer {
    text-align: center;
    z-index: 9999999;
    background-color: #333;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
  }
  .reference li {
    margin: 15px 25px;
    color: white;
    font-family: cursive;
    display: inline-block;
  }
  .reference li a {
    color: white;
    text-decoration: none;
  }
  .reference li a:hover {
    color: #eaeaea;
    border-radius: 6px;
    background-color: rgb(1, 97, 97);
  }
  .img {
    transition: 3s;
    position: absolute;
    top: 20%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 40%;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
      41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
      100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 48% 52% 50% 50% / 45% 42% 58% 55%;
    z-index: 99;
    width: 200px;
    height: 200px;
    background-image: url(asset/smile.png);
  }
  .img:hover {
    border-radius: 50%;
   
      background-image: url(asset/caught.png);
  }



  .perawi {
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
    font-family: cursive;
  }